<!doctype html>
<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <form action="/" method="post">
            <input type="text" name="username" plaseholder="Username">
            <input type="submit" value="push">
        </form>
    </body>
</html>
